### In this notebook we are going to run exercises related to data anonymization.

### (0) Import the pandas library as 'pd' in the cell below.

In [1]:
# Import the pandas library as 'pd' in this cell

### (1) Read the dataframe and assess the first 5 rows of the dataframe.

In [2]:
# Load dataset

dataset = pd.read_csv('dataset_anonymisation.csv', index_col=0)

Read the first 5 rows of the dataframe in the cell below.

In [3]:
# Read the first 5 rows of the dataframe in the cell below.

,Names,Age,Gender,Postcode,Admission date,Discharge date,Diagnosis code,Dr name
0,Dylan Misondo,39,M,OX3 5TG,2016-10-10 00:49:41,2016-12-13 01:57:51,J189,Meredith Gray
1,Barbara Doe,49,F,OX1 8VD,2017-01-11 11:38:49,2017-01-23 14:58:51,A419,Meredith Gray
2,Maeva Erbal,48,F,OX3 1GR,2018-09-10 14:58:34,2018-09-15 20:59:49,A419,Gregory House
3,Michael Toren,58,M,OX2 9IR,2018-02-01 01:24:58,2018-04-15 17:27:59,I519,Hugh Laurie
4,Alice Toren,36,F,OX4 8EX,2018-11-26 22:00:31,2018-12-28 23:37:58,A419,Meredith Gray

### (2) Determine the Direct and Indirect Identifiers. Feel free to discuss with your peers.

### (3)  Implement Attribute Suppression on the “Dr name” column.

Hint: How do you remove a column in pandas? Try the pandas 'drop' function.

In [ ]:
# Drop the Dr name column in your dataset

In [ ]:
# View your dataset to ensure that you no longer have the 'Dr name' column in your dataset

### (4) Implement Pseudonymisation over the names of the patients. 

##### Why: If we want to send data securely to other users who may not be able to access the same database as us, we want to ensure that any personal information in the data is not sent over.

##### How: We can do this using the uuid library in python. uuid generates a unique identifier of a given string.

We will do this step by step below.

In [4]:
# Function to generate a pseudo-identifier sequence using python random number generator library uudi.
import uuid
   
def get_uuid_id():
    return uuid.uuid1().int

In [5]:
# STEP 3A: Try running the function get_uuid_id to see what output it returns.
# Do you remember how to run a function?

11211128234960378738056219615223072201

### Mini-lecture on For loops

For loops are a way for a code to be executed a fixed number of times. 

For example, if I want to print the word 'AIP22' 7 times I would write:

  <code> for r in range(7): 
    print('AIP22')
</code>


  <code> range(n)</code>: n specifies the number of times you want to run the loop.
  
  <code> r</code>: r provides the 'nth' element of the loop that is being run. If r is 5, then the loop is being run for its 5th time.
  
  <code> print</code>: print is the function that is being run 'nth' times, in this case, 7 times.

In [ ]:
# Try this example of a for loop
for r in range(7): 
    print("I am running the loop for the ", r, "th time:", 'AIP22')

How do we save the output each time the function is run? 

We can use what is called <code>lists</code>. Just think of a list as a shopping bag. Everytime you pick up something new, you put it into your bag!

Empty <code> lists </code> in python are initialised as square brackets <code> [] </code>.


<code> append </code> in python just means to 'attach' your saved variable.

In [ ]:
shopping_bag_of_r = []
for r in range(7): 
    shopping_bag_of_r.append(r) 
    print("I am saving the loop iteration number", r, "in a list")
    
print("\n")
print("I now have the numbers", shopping_bag_of_r, "in my list.")

### (5) Determine the number of unique entries that we need to generate for the dataset.

In [8]:
# Determine the number of unique entries we will need for our dataset.

In [10]:
# Use a for loop to generate the required number of unique entries and store them in unique_ids.

100

In [ ]:
# Print the first 5 items in the list of unique IDs.

In [ ]:
# Set a new column in dataset 'pseudo_names' as unique ids.

In [ ]:
# View your dataset to ensure that you have the 'pseudo_names' column in your dataset that 
# no longer contains any identifier to the patient_id

### (6) Implement Generalisation over the ages of the patients.

In [11]:
# Print the unique ages that are available in the dataset.

,Names,Age,Gender,Postcode,Admission date,Discharge date,Diagnosis code,Dr name
0,Dylan Misondo,39,M,OX3 5TG,2016-10-10 00:49:41,2016-12-13 01:57:51,J189,Meredith Gray
1,Barbara Doe,49,F,OX1 8VD,2017-01-11 11:38:49,2017-01-23 14:58:51,A419,Meredith Gray
2,Maeva Erbal,48,F,OX3 1GR,2018-09-10 14:58:34,2018-09-15 20:59:49,A419,Gregory House
3,Michael Toren,58,M,OX2 9IR,2018-02-01 01:24:58,2018-04-15 17:27:59,I519,Hugh Laurie
4,Alice Toren,36,F,OX4 8EX,2018-11-26 22:00:31,2018-12-28 23:37:58,A419,Meredith Gray

In [13]:
# Hint: Use the following function pd.cut(df[column_name], bins=number of bins)

In [14]:
# Notice that the age_group variable in dataset now has been binned into intervals
print(dataset.head())

           Names  Age Gender Postcode       Admission date  \
0  Dylan Misondo   39      M  OX3 5TG  2016-10-10 00:49:41
1    Barbara Doe   49      F  OX1 8VD  2017-01-11 11:38:49
2    Maeva Erbal   48      F  OX3 1GR  2018-09-10 14:58:34
3  Michael Toren   58      M  OX2 9IR  2018-02-01 01:24:58
4    Alice Toren   36      F  OX4 8EX  2018-11-26 22:00:31

        Discharge date Diagnosis code         Dr name        Age_group
0  2016-12-13 01:57:51           J189   Meredith Gray    (37.25, 44.5]
1  2017-01-23 14:58:51           A419   Meredith Gray    (44.5, 51.75]
2  2018-09-15 20:59:49           A419  Gregory House     (44.5, 51.75]
3  2018-04-15 17:27:59           I519     Hugh Laurie    (51.75, 59.0]
4  2018-12-28 23:37:58           A419   Meredith Gray  (29.971, 37.25]

### Mini-lecture on apply()

In pandas, we can use the function <code> apply </code> as a fast way of applying the specific function to each entry in our dataframe. 

For example   <code> dataset['Name'].apply(function) </code>

In [16]:
def binning(age):
    """
    This function will take age as an input, and if it falls within the range specified return 
    a number between 0 and 2.
    """
    if 30 <= age < 40:
        return 0
    if 40 <= age < 50:
        return 1
    if 50 <= age < 60:
        return 2

In [17]:
# Apply the binning function to the dataset column ['Age'] and create a new column called Age
dataset['Age_bin'] = dataset['Age'].apply(binning)

In [18]:
# Print the first five rows to examine the new column

,Names,Age,Gender,Postcode,Admission date,Discharge date,Diagnosis code,Dr name,Age_group,Age_bin
0,Dylan Misondo,39,M,OX3 5TG,2016-10-10 00:49:41,2016-12-13 01:57:51,J189,Meredith Gray,"(37.25, 44.5]",0
1,Barbara Doe,49,F,OX1 8VD,2017-01-11 11:38:49,2017-01-23 14:58:51,A419,Meredith Gray,"(44.5, 51.75]",1
2,Maeva Erbal,48,F,OX3 1GR,2018-09-10 14:58:34,2018-09-15 20:59:49,A419,Gregory House,"(44.5, 51.75]",1
3,Michael Toren,58,M,OX2 9IR,2018-02-01 01:24:58,2018-04-15 17:27:59,I519,Hugh Laurie,"(51.75, 59.0]",2
4,Alice Toren,36,F,OX4 8EX,2018-11-26 22:00:31,2018-12-28 23:37:58,A419,Meredith Gray,"(29.971, 37.25]",0

### (7) Implement Character Masking (Cutting) over the postcode, admission and discharge dates

In [19]:
def return_first_three_characters(postcode):
    """
    This function will take the postcode as an input, and return the first 3 characters.
    """
    return postcode[:3]

In [ ]:
# Use apply function that you just learnt, 
# to apply the function return_first_three_characters to the postcode!

In [ ]:
# Now write your own function using the template of return_first_three_characters to return
# the admission year

In [ ]:
# How do we change the number of characters returned by the function?

In [23]:
# Apply the function return_admission_year to the columns ['Admission date'], and ['Discharge date']

,Names,Age,Gender,Postcode,Admission date,Discharge date,Diagnosis code,Dr name,Age_group,Age_bin,admission_year
0,Dylan Misondo,39,M,OX3 5TG,2016-10-10 00:49:41,2016-12-13 01:57:51,J189,Meredith Gray,"(37.25, 44.5]",0,2016
1,Barbara Doe,49,F,OX1 8VD,2017-01-11 11:38:49,2017-01-23 14:58:51,A419,Meredith Gray,"(44.5, 51.75]",1,2017
2,Maeva Erbal,48,F,OX3 1GR,2018-09-10 14:58:34,2018-09-15 20:59:49,A419,Gregory House,"(44.5, 51.75]",1,2018
3,Michael Toren,58,M,OX2 9IR,2018-02-01 01:24:58,2018-04-15 17:27:59,I519,Hugh Laurie,"(51.75, 59.0]",2,2018
4,Alice Toren,36,F,OX4 8EX,2018-11-26 22:00:31,2018-12-28 23:37:58,A419,Meredith Gray,"(29.971, 37.25]",0,2018


### (8) Ensure k-anonymity (where k = 5)

In [20]:
# Notice that when we group the age group into 4 bins, there are at least 25 entries per bin
# Let's break this down into different steps

# First we group the dataset by the variable we created 'age_group', and then we calculate the size of each age group
dataset.groupby(['Age_group']).size()

Age_group
(29.971, 37.25]    25
(37.25, 44.5]      23
(44.5, 51.75]      23
(51.75, 59.0]      29
dtype: int64

In [24]:
# Ensure that the dataset has at least 5 entries per bin, based on the groupings we used for admission date

admission_year
2016    37
2017    28
2018    35
dtype: int64

In [25]:
# Now do the same for discharge_year

In [ ]:
# Do the same for postcode