### Classification Bonus Material

In [9]:
# Import libraries
import numpy as np 
import pandas as pd

from sklearn.datasets import fetch_california_housing
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold, StratifiedKFold
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import plot_confusion_matrix
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

# BONUS Material

Import the Titanic dataset and set the feature “survived” as the label.

In [2]:
data = pd.read_csv('titanic_train.csv')

In [3]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Remove the columns 'PassengerId', 'Name', 'Ticket', 'Cabin' in the dataframe, and any NaNs. Why do we remove these specific columns?

One hot encode the variables 'Sex' and 'Embarked'. Why do we do this?

Split the data how you believe it should be split.

Normalise 'Age' and 'Fare'. Why do we normalise these specific variables?

Implement a logistic regression and find the regularisation parameter that maximises performance. 

Find the best regularisation parameter 'C' that will return best performance using GridSearchCV.

You will find this useful: https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html

Output the classification threshold and the weights and decide which features are the most important for the prediction problem. Use cross validation for your training.

Plot the feature importance of the model.